/* Soluzione qui */

/*FOR TABLET*/
@media screen and (min-width:768px){
    #topbar {
	    justify-content: flex-start;
    }
    .recipe-origin {   
    display:inline-block;
    }
    .container{
        padding:35px;
    }
    .recipe-title{
       font-size:22px;
    }
    .quick-notes li{
        display:inline-block;
        width:30%;
    }
    .btn{
        padding: 10px 50px;
    }
    .ads{
        display:flex;
    }
    .presentation img{
        float: left;
        margin-right: 20px;
    }
}
/* FOR DESKTOP*/
@media screen and (min-width:992px){
    .recipe-title{
       font-size:26px;
    }
    .quick-notes li {
        display:block;
    }
    .recipe-card{
       display:flex;
    }
    .recipe-video {
	height: 50vw;
    width:500px
    }
    .social-networks .label {
	display: flex;;
    }
    footer{
        display:flex;
        justify-content: space-between;
        text-align: left;
    }

}