/* Soluzione qui */

/*FOR TABLET*/
@media screen and (min-width:768px){
    #topbar {
	    justify-content: flex-start;
    }
    .recipe-origin {   
    display:inline-block;
    }
    .container{
        padding:35px;
    }
    .recipe-title{
       font-size:22px;
    }
    .quick-notes li{
        display:inline-block;
        width:30%;
    }
    .btn{
        padding: 10px 50px;
    }
    .ads{
        display:flex;
    }
    .presentation img{
        float: left;
        margin-right: 20px;
    }
}